//Imports & Global Styles

@import "node_modules/bootstrap/scss/bootstrap-reboot";
@import "node_modules/bootstrap/scss/bootstrap-grid";



html {
    scroll-behavior: smooth;
  }

$dark: rgba(27,32,33,1);
$dark--hovered: rgba(66,78,81,1);
$subtle-dark: rgba(27,32,33,0.70);
$subtle-grey: rgba(212,212,212,1);
$inv-text: rgba(0,0,0,0.24);
$subtle-white: rgba(255,255,255,0.64);
$primary-color: rgba(255,178,0,1);
$primary-color--hovered: rgba(233,161,0,1);
$accent-color: rgba(255,105,0,1);
$accent-color--hovered: rgba(234,96,0,1);
$dp-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
$dp-shadow--accent: 0 20px 60px 0 rgba(0,0,0,0.1);
$--transition: all .4s ease-in-out;


@font-face {
    font-family: 'qgx-icons';
    src:  url('../icons/qgx-icons.eot?69a856');
    src:  url('../icons/qgx-icons.eot?69a856#iefix') format('embedded-opentype'),
      url('../icons/qgx-icons.ttf?69a856') format('truetype'),
      url('../icons/qgx-icons.woff?69a856') format('woff'),
      url('../icons/qgx-icons.svg?69a856#qgx-icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'qgx-icons' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-facebook:before {
    content: "\e900";
  }
  .icon-instagram:before {
    content: "\e901";
  }
  .icon-linkedin:before {
    content: "\e902";
  }
  .icon-messenger:before {
    content: "\e903";
  }
  .icon-check:before {
    content: "\e904";
  }
  .icon-chevron:before {
    content: "\e905";
  }
  .icon-arrow:before {
    content: "\e906";
  }

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    width: 100%;
}

.desktop {
    display: none;
}

.heading {
    font-weight: 600;
    &.lg {
        font-size: 40px;
        line-height: 48px; 
    }

    &.xmd {
        font-size: 28px;
        line-height: 32px;
    }

    &.md {
        font-size: 20px;
        line-height: 28px;
    }

    &.sm {
        font-size: 18px;
        line-height: 24px;
    }

    &.pool-hd {
        font-size: 24px;
        line-height: 32px;
    }
}

.caption {
    &.lg {
        font-size: 16px;
        line-height: 24px;
    }
    &.md {
        font-size: 14px;
        line-height: 18px;
    }
    &.sm {
        font-size: 13px;
        line-height: 18px;
    }
}

.w-bd, b {
    font-weight: 600;
}

.w-md {
    font-weight: 400;
}

.dark {
    color: $dark;
}

.white {
    color: rgba(255,255,255,1);
}

.subtle {
    color: $subtle-dark;
}

.subtle-w {
    color: $subtle-white;
}


//Actionables

.btn {
    text-decoration: none !important;
    transition: $--transition;
    box-shadow: $dp-shadow;
    border: 2px solid rgba(255,255,255,0);
    font-weight: 600;
    text-align: center;

    &.lg {
        font-size: 18px;
        padding: 18px 24px;
        border-radius: 38px;
    }

    &.md {
        font-size: 18px;
        padding: 16px;
        border-radius: 4px;
        & .icon {
          font-size: 18px;
          padding-left: 32px;
        }
    }

    &.primary-btn {
        background: $primary-color;
        color: $dark;
        &:hover {
            background: $primary-color--hovered;
        }
    }

    &.secondary-btn {
        background: $accent-color;
        color: rgba(255,255,255,1);
        &:hover {
            background: $accent-color--hovered;
        }
    }

    &.neutral-btn {
        background: rgba(255,255,255,1);
        color: $dark;
        &:hover {
            background: $subtle-grey;
        }
    }

    &.outline-btn {
       background: rgba(255,255,255,0);
       border: 2px solid rgba(255,255,255,.3);
       color: rgba(255,255,255,1);
       &:hover {
        background: rgba(255,255,255,1);
        color: $dark;
    }
}

    &.dark-btn {
        background: $dark;
        color: rgba(255,255,255,1);
        &:hover {
            background: $dark--hovered;
        }
    }

    &:hover {
        box-shadow: $dp-shadow--accent;
    }
    
}

.link {
    text-decoration: none !important;
    transition: $--transition;
    font-weight: 600;
    &.white {
        font-size: 18px;
        color: rgba(255,255,255,1);
        padding: 16px;
        border-radius: 8px;
        &:hover {
            background-color: rgba(255,255,255,.2);
        }
    }
    &.subtle-l {
        font-size: 16px;
        color: $subtle-white;
        &:hover {
            color: rgba(255,255,255,1);
        }
    }
    &.social-link {
        font-size: 24px;
        color: rgba(255,255,255,.7);
        padding: 16px;
        border-radius: 8px;
        &:hover {
           color: rgba(255,255,255,1);
        }

    }
}

//Structure

header {
    position: absolute;
    top: 0;
    z-index: 5;
    width: 100%;
    padding: 32px 0;
}

.main-logo img {
    width: 80px;
}

.action-holder {
    margin-top: 16px;
    .btn {
        display: block;
        width: 100%;
        margin: 8px 0;
    }
}

.main-hero {
    background-color: $dark;
}

.main-hero-container {
    display: flex;
    align-items: center;
    height: 100vh;

    & .hero-content {
        max-width: 100%;
        padding: 32px 32px 0;

        & p {
            margin: 24px 0;
        }

        & .featured-asset {

            img {
                width: 280px;
                position: relative;
                left: -10%;
            }
    
        } 
        
    }
}

.detail-asset {
    position: absolute;
    top: -50%;
    left: -15%;
}

.post-hero {
    padding: 32px;
    height: 530px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.50) 0%, rgba(0,0,0,0.80) 100%);
    box-shadow: $dp-shadow--accent;
    position: relative;

    &:after {
        content: " ";
         position: absolute;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         z-index: -1;
        background: url(../img/asset-photo-01.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;   
    }
}

.simple-content {

    padding: 24px;

    & .featured-holder {
        & img {
            width: 56px;
            margin-bottom: 24px;
        }
    }
   & .heading {
        margin-bottom: 16px;
    }
}

.features {
    padding: 48px 0;
    background-color: #FFF;

    & .row {
        margin: 24px 0;
    }

    & .feature-img {
        display: flex;
        align-items: center;
        justify-content: center;
    
    & img {
        width: 80%;
    }
 }
}

.extra-features {
    background: $dark;
    padding: 40px 0;

    & .simple-content {
        margin: 40px 0;
    }
}

.our-plans {
    background: rgba(250,250,250,1);
    
    & .heading-block {
      padding: 40px 0;
      text-align: center;

      & .heading {
          margin-bottom: 24px;
      }
    }
}

.plan-card {
    background: rgba(255,255,255,1);
    box-shadow: $dp-shadow--accent;
    border-radius: 14px;
    overflow: hidden;
    margin: 16px 0;

    &.featured {
        background: $dark;

        & .card-header {
            padding: 24px 32px;
            background: rgba(255,255,255,0.03);
        }
    

        & .plan-item {
            display: block;
            margin: 16px 0;
            font-size: 14px;
            font-weight: 400;
            color: rgba(255,255,255,1);
            & .icon {
                color: #3CCE1B;
                margin-right: 8px;
            }
        }
    }

    & .card-header {
        padding: 24px 32px;
        background: rgba(0,0,0,0.02);
    }

    & .card-content {
        padding: 16px 32px 8px;

        & .plan-item {
            display: block;
            margin: 16px 0;
            font-size: 14px;
            font-weight: 400;

            & .icon {
                margin-right: 8px;
            }
            &.disabled {
              color: rgba(0,0,0,0.24);
              & .icon {
                color: rgba(229,229,229,0.54);
              }
            }
            &.active {
                color: $dark;
                & .icon {
                    color: #3CCE1B;
                }
            }
        }
    }

    & .action-holder {
        border-top: 1px solid rgba(0,0,0,.05);
        padding: 16px 32px;
    }
}

.bottom-pool {
    padding: 32px;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.50) 0%, rgba(0,0,0,0.80) 100%);
    box-shadow: $dp-shadow--accent;
    position: relative;

    &:after {
        content: " ";
         position: absolute;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         z-index: -1;
        background: url(../img/asset-photo-02-mob.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;   
    }
}

footer {
    padding: 40px 0;
    background-color: $dark;

    & .ft-logo-holder {
        text-align: center;
        padding: 24px;
        & img {
            width: 80px;
        }
    }

    & .footer-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;

        & .link {
            text-align: center;
            padding: 16px;
            margin: 8px 0;
        }
    }

    & .social-nav {
        display: flex;
        justify-content: space-evenly;

        & .link {
            text-align: center;
            padding: 16px;
            margin: 8px 0;
        }
    }

    & .signature {
        text-align: center;
        font-weight: 300;
        margin: 24px auto;
        display: block;
        color: rgba(255,255,255,0.31);
        font-size: 14px;
    }
}


//Animations


@-webkit-keyframes float-effect {
    from {
        transform: translateY(0)
    }
  
    50% {
        transform: translateY(.5em)
    }
  
    to {
        transform: translateY(0)
    }
  }
  
  @keyframes float-effect {
    from {
        transform: translateY(0)
    }
  
    50% {
      transform: translateY(.5em)
    }
  
    to {
      transform: translateY(0)
    }
  }
  
  .float-effect {
    -webkit-animation-name: float-effect;
    animation-name: float-effect;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    &.delay {
        -webkit-animation-delay: 1.4s;
        animation-delay: 1.4s;
      }
  }



//Media Queries

@media (max-width: 374px) { 
    
    .main-hero-container {
        height: 100%;
        padding: 80px 0;
    }

    .detail-asset {
        position: absolute;
        top: -60%;
        left: -15%;
    }
   
}

@media (min-width: 768px) { 

    .main-hero {
    
        & .hero-content {

            text-align: center;
    
            & .featured-asset {

                text-align: center;
    
                img {
                    width: 70%;
                    position: relative;
                    left: auto;
                }
        
            } 
            
        }
    }

    .detail-asset {
        position: absolute;
        top: -40%;
        left: auto;
        right: -55%;
    }

    .action-holder {
        margin: 24px auto;
        display: flex;
        justify-content: center;
        .btn {
            display: initial;
            width: auto;
            margin: 0 8px;
        }
    }

    .post-hero-content, .bottom-pool-content {
        text-align: center;
    }

    .our-plans {
        & .container {
            max-width: 90%;
        }
    }

    
}

@media (min-width: 992px) { 

    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }


.heading {
    &.lg {
        font-size: 70px;
        line-height: 94px; 
    }

    &.xmd {
        font-size: 40px;
        line-height: 48px;
    }

    &.md {
        font-size: 32px;
        line-height: 40px;
    }

    &.sm {
        font-size: 28px;
        line-height: 32px;
    }

    &.pool-hd {
        font-size: 40px;
        line-height: 48px;
    }
}

.caption {
    &.lg {
        font-size: 24px;
        line-height: 32px;
    }
    &.md {
        font-size: 16px;
        line-height: 24px;
    }
    &.sm {
        font-size: 14px;
        line-height: 18px;
    }
}

.main-nav {
    text-align: right;
}

.main-hero {

    & .main-hero-container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    height: 100vh;
    }

    & .hero-content {
        text-align: left;
        max-width: 600px;
        padding: 0;

        & p {
            margin: 24px 0;
        }

        & .featured-asset {

            position: absolute;
            right: -10%;
            top: 16%;

            img {
                width: 600px;
                position: relative;
                left: auto;
            }
    
        } 
        
    }
}

.action-holder {
    justify-content: flex-start;
}



.detail-asset {
    position: absolute;
    top: -500px;
    left: auto;
    right: -300px;
}


.post-hero-content {
    max-width: 600px;
    margin: 0 auto;
    & .action-holder {
        justify-content: center;
    }
}

.simple-content {
    padding: 0;
    max-width: 400px;
}

.heading-block {
    max-width: 500px;
    margin: 0 auto;
}

.spread {
    padding: 80px 0;
}

.plan-card {
    & .btn {
    width: 100%;
    display: block;
    }
}

.bottom-pool {
    justify-content: flex-start;
    padding: 120px;
    & .btn {
        margin: 0;
    }
}

.bottom-pool-content {
    text-align: left;
    max-width: 600px;
}

.footer-nav {
    flex-direction: row !important;

}

.bottom-pool {

    &:after {
        background: url(../img/asset-photo-02.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;   
    }
}

}

@media (min-width: 1300px) { 


.main-hero-container {

    & .hero-content {

        & .featured-asset {

            position: absolute;
            right: -10%;
            top: 12%;

            img {
                width: 800px;
                position: relative;
                left: auto;
            }
    
        } 
        
    }
}

}